/* styles.css */

body {
    background-image: url("https://images.unsplash.com/photo-1588776814546-ec7fef3f5978");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', sans-serif;
}

.main {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 15px;
    padding: 30px 40px;
    max-width: 850px;
    margin: auto;
    box-shadow: 0 6px 25px rgba(0,0,0,0.2);
}

h1, h2, h3 {
    color: #003366;
}
